# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.h5

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.venv
.ipynb_checkpoints
.DS_Store

# Conda environment directory
D:\gzo\myProjects\dataAnalyst\environments\SteelPlatesEnv\

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# VSCode settings (opcional)
.vscode/
